{% extends 'base.html' %}

{% block content %}
<h4 class="mt-4 text-center mb-4 text-primary">Cart</h4>
<table class="table mt-2">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Image</th>
        <th scope="col">Count</th>
        <th scope="col">Total</th>
        <th scope="col">Options</th>
    </tr>
    </thead>
    <tbody>
    {% for cart_item in cart_items %}
    <tr>

        <th scope="row">{{ cart_item.product.pk }}</th>
        <td>{{ cart_item.product.title }}</td>
        <td><img src="{{ cart_item.product.image.url }}" class="w-25"/></td>
        <td>{{ cart_item.quantity }}</td>
        <td>{{ cart_item.total }}</td>
        <td>
            <form method="post">
                {% csrf_token %}
                <input name="cart_item" value="{{ cart_item.product.pk }}" type="hidden" />
                <div class="d-flex">
                    <input name="add" value="+" type="submit" class="btn btn-success me-2" />
                    <input name="remove" value="-" type="submit" class="btn btn-danger" />
                </div>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<h4 class="text-end">Total: {{ total_price }}</h4>
{% endblock %}